h1 {
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: 'Londrina Solid', cursive;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(115, 41, 41);
    color: rgb(255, 255, 255);
}

#zip {
    color: rgb(49, 49, 49);
}

.background {
    background: url("../images/food_background.jpg");
    height: 400px;
}

#header-image {
    height: 200px;
}


.navbar {
    text-align: center;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search-box {
    background: rgb(255, 255, 255);
    padding: 50px;
    margin-top: 150px;
    border-radius: 10px;
}

.form-inline {
    text-align: center;
}

#map {
    height: 400px;
    position: fixed;
}

/* .search-results {
    border: 1px solid rgb(242, 195, 107);
    color: rgb(145, 14, 14);
} */

.result {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(242, 141, 82);
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;


}

.result:hover {
    box-shadow: 0 0 9px rgb(242, 141, 107);

}

.review {
    text-align: center;
}

.open {
    color: rgb(139, 228, 139);
}

.closed {
    color: rgb(240, 95, 95);
}

.title {
    font-size: 22px;
}

p {
    font-size: 16px;
}

a {
    color: rgb(97, 149, 218);
}

#zip {
    font-size: 16px;
}

.submit {
    font-size: 16px;
}

.btn-default, #location-input {
    border: 1px solid rgb(242, 141, 82);
}

.submit:hover, #useLocation:hover {
    background-color: rgb(242, 141, 107);
    border: 1px solid rgb(242, 141, 82);
}

.favBox, .favBox:active, .favBox:visited {
    border: none;
    outline: none;
    background-color: none;
    background: url("../images/burger2.png") no-repeat left center;
    height: 50px;
    /* float: left; */
}

.favBox:hover {
    background: url("../images/burger2.png") no-repeat left center;
    transform: scale(1.5);
    background-color: none;
}

    

.favBox .favs { 
    visibility: hidden
}
.faveBox .favs { 
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: show;
}

.favBox:visited, .favBox:active {
    border: none;
    background-color: none;
}

.delete {
    display: inline-block;
    padding: 1px 5px;
    margin-bottom: 0;
    margin-right: 15px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    opacity: 0.5;
    border-color: #ccc;
}

.review {
    padding-left: 20px;
}

.saved-places {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(242, 141, 82);
    padding-left: 10px;
    margin-top: 15px;
    border-radius: 10px;
}

.info-window {
    color: rgb(49, 49, 49);
}

.image {
    height: 175px;
    float: left;
}